@model IEnumerable<Ogrenci>


    <h2>Öğrenci Listesi</h2>

<a href="/Ogrenci/Create" class="btn mb-3 btn-primary">Öğrenci Ekle</a
        <hr>

<table class="table table-bordered">

    <thead>
        <tr>
            <th style="width:150px;">@Html.DisplayNameFor(m => m.Id)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciAd)</th>
            <th>@Html.DisplayNameFor(m => m.OgrenciSoyad)</th>
            <th style="width:150px;"></th>
        </tr>
    </thead>


    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@Html.DisplayFor(modelItem=>item.Id)</td>
                <td>@Html.DisplayFor(modelItem => item.OgrenciAd)</td>
                <td>@Html.DisplayFor(modelItem => item.OgrenciSoyad)</td>
                <td>

                    <a asp-controller="Ogrenci" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-primary">Güncelle</a>
                    <a  asp-controller="Ogrenci" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-danger">Sil</a>
                </td>


            </tr>
        }
    </tbody>
</table>



