@model EFCoreApp.Data.Ogretmen

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ogretmen</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ogretmenAd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ogretmenAd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ogretmenSoyd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ogretmenSoyd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ogretmenMail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ogretmenMail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ogretmenTel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ogretmenTel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BaslamaTarihi)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BaslamaTarihi)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
