@model IEnumerable<EFCoreApp.Data.Ogretmen>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Öğretmen Ekle</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Öğretmen Ekle</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ogretmenAd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ogretmenSoyd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ogretmenMail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ogretmenTel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BaslamaTarihi)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ogretmenAd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ogretmenSoyd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ogretmenMail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ogretmenTel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BaslamaTarihi)
                </td>
                <td>
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id">Düzenle</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Detay</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
